/* GENERAL STYLINGS */
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

.padded-content {
  padding: 2% 5%;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: black;
}

#nav-bar li {
  list-style: none;
  margin: 1vw;
  color: yellow;
  font-display: yellow;
}

nav li a:visited {
  color:yellow;
}

.vertical-line {
  height: 100vh;
  border-left: thin solid #444040;
  width: 2px;
}

/* PAGE STYLINGS */

/* LOGIN PAGE  */
#register-page-container {

}

#register-content-left {
  flex: 8;
  padding-left: 3vw;
}

#register-content-right {
  height: 100%;
  flex: 4;
  display: table; 
  margin: 2%;
}

#register-input-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#register-input-container p {
  text-align: left;
}

.register-input {
  height: 5%;
  width: 80%;
  margin-bottom: 3vh;
}

#register-red-button {
  margin-top: 10%;
  margin-bottom: 10%;
}

.intention {
  display: block;
  margin-bottom: 3vh;
}

.intention input {
  margin-right: 2%;
}


/* SPLASH PAGE  */

#splashpage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#splash-content-right {
  padding-top: 20%;
  flex: 2;
}


#splash-content-left {
  padding-top: 10%;
  flex: 6;
}

#splash-header {
  font-size: 3rem;
  font-weight: 300;
  color: #444444;
}


/* COMPONENT STYLINGS */

/* RED DOT COMPONENT */
.red-dot-button {
  background-color: transparent;
  border: none;
  color: white;
}

/* TOAST */
.warning-toast {
  background-color: red;
  color: white;
}


/* REDDOT  */
.red-dot {
  radius: 50%;
  background-color: "red";
  text-align: "center";
  margin: "auto";
  display: "table-cell";
  vertical-align: "middle";
}